body{
  background-image: url('./images/safari.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  height: 150px;
  text-align: center;
}
blockquote{
  height: 300px;
  text-align: center;
}
#animals{
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
button{
  background: transparent;
  width: 25%;
  border: none;
  overflow: none;
}
#croc{
  background-image: url('./images/saltwater-croc.png');
  background-size: contain;
  background-repeat: round;
  height: 80%;
  width: 40%;
  position: relative;
  top:60px;
}
#elephant{
  background-image: url('./images/elephant.png');
  background-size: cover;
  background-repeat:round;
  height: 175%;
  width: 33%;
  position: relative;
  bottom: 225px;
}
#hippo{
  background-image: url('./images/hippo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 33%;
  position: relative;
  right: 100px;
  transform: scaleX(-1);
  align-content: center;
}
